@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
header {
  height: auto;
  margin: 30px;
}
.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
}
.container .text {
  width: 100%;
  height: auto;
  padding: 50px;
}
.container .picture {
  width: 100%;
  height: 300px;
  background-image: url(./images/hero-mobile.jpg);
  background-size: cover;
  background-position: center center;
}
.container .text h1 {
  font-size: 3.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: hsl(0, 36%, 70%);
  line-height: 3.5rem;
  letter-spacing: 0.7rem;
}
.container .text h1 span {
  color: hsl(0, 6%, 24%);
  font-weight: 700;
}
.container .text p {
  max-width: 450px;
  margin: 0 auto;
  color: hsl(0, 36%, 70%);
  line-height: 1.5rem;
  margin-top: 20px;
  margin-bottom: 40px;
}
.container form {
  position: relative;
  display: block;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
}
.container form input {
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50px;
  left: 0;
  top: 0;
  border: 1px solid hsl(0, 36%, 70%);
  padding-left: 30px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
}
.container form button {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 80px;
  border-radius: 50px;
  outline: none;
  border: none;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0 0 10px 2px hsla(0, 36%, 70%, 0.466);
}
.container form button:hover {
  background-image: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsla(0, 50%, 80%, 0.555)
  );
  box-shadow: 0 0 13px 2px #f4aaabbf;
}
.container form input::placeholder {
  color: hsl(0, 36%, 70%);
  opacity: 0.8;
}
.container form .error-icon {
  display: inline-block;
  position: absolute;
  top: 24%;
  right: 25%;
  display: none;
}
.container form .error-text {
  position: absolute;
  left: 30px;
  top: 40px;
  font-size: 1rem;
  display: none;
}
.container form .error .error-icon {
  display: block;
}
.container form .error .error-text {
  display: block;
}
.attribution {
  font-size: 11px;
  text-align: center;
  padding: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 768px) {
  header {
    position: absolute;
    padding: 30px;
    padding-left: 10%;
    margin: 50px;
  }
  header img {
    width: 180px;
  }
  .container {
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
  }
  .container .picture {
    width: 80%;
    height: 100vh;
    background-image: url(./images/hero-desktop.jpg);
  }
  .container .text {
    width: 100%;
    height: 100vh;
    padding-top: 30vh;
    text-align: left;
    padding-left: 12%;
    letter-spacing: 0.05rem;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-position: center;
    background-size: cover;
  }
  .container .text h1 {
    font-size: 5rem;
    line-height: 5.5rem;
  }
  .container .text p {
    margin-left: 0;
    font-size: 1.1rem;
  }
  .container form {
    margin-left: 0;
  }
  .container form button {
    width: 90px;
  }
}

/*
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%)

### Neutral

- Dark Grayish Red: hsl(0, 6%, 24%)

### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 300, 400, 600
*/
